---
import { db, College } from 'astro:db';
import { actions, getActionProps } from 'astro:actions';

import countries from '../../db/data/countries.json';
import languages from '../../db/data/languages.json';
import Layout from '../layouts/split.astro';
import { sortAlphabetically } from '../lib/collection';
import { getFieldErrors } from '../lib/form';
import image from '../assets/photo-1452421822248-d4c2b47f0c81.jpg';

export const prerender = false;

const colleges = await db
  .select({ slug: College.slug, name: College.name })
  .from(College)
  .orderBy(College.name);
const countryOptions = sortAlphabetically(countries, ({ name }) => name);
const languageOptions = sortAlphabetically(languages, ({ name }) => name);

const submission = Astro.getActionResult(actions.submit);
const fieldErrors = getFieldErrors(submission);
---

<Layout
  title="Submit a blog"
  subtitle="Share your UWC experience with the world and gain more readers."
  image={{
    src: image,
    alt: 'An open and empty journal rests on top of a map next to a camera and a pair of glasses.',
  }}
>
  <p id="form-success" class="form-success">
    {
      submission?.data?.success &&
        `Thank you for your submission! We will review and publish your blog
        within a few days.`
    }
  </p>

  <form method="POST">
    <input {...getActionProps(actions.submit)} />
    <div class="field">
      <label for="firstName">What's your first name?</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        autocomplete="given-name"
        aria-describedby="firstName-error"
        required
      />
      <p id="firstName-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.firstName?.join(', ')}
      </p>
    </div>
    <div class="field">
      <label for="email">What's your email address?</label>
      <input
        type="email"
        id="email"
        name="email"
        autocomplete="email"
        aria-describedby="email-error"
        required
      />
      <p id="email-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.email?.join(', ')}
      </p>
    </div>
    <div class="field">
      <label for="url">What's the link to your blog?</label>
      <input
        type="url"
        id="url"
        name="url"
        autocomplete="url"
        required
        aria-describedby="url-error"
      />
      <p id="url-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.url?.join(', ')}
      </p>
    </div>
    <div class="field">
      <label for="collegeId">Which college do/did you attend?</label>
      <select
        id="collegeId"
        name="collegeId"
        required
        aria-describedby="collegeId-error"
      >
        <option value="" selected disabled></option>
        {
          colleges.map((college) => (
            <option value={college.slug}>{college.name}</option>
          ))
        }
      </select>
      <p id="collegeId-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.collegeId?.join(', ')}
      </p>
    </div>
    <div class="field">
      <label for="countries">Which country are you from?</label>
      <input
        type="text"
        id="countries"
        name="countries"
        autocomplete="countries"
        list="countries-list"
        required
        multiple
        aria-describedby="countries-error"
      />
      <datalist id="countries-list">
        {countryOptions.map((country) => <option value={country.name} />)}
      </datalist>
      <p id="countries-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.countries?.join(', ')}
      </p>
    </div>
    <div class="field">
      <label for="languages">Which language do you write in?</label>
      <input
        type="text"
        id="languages"
        name="languages"
        list="languages-list"
        required
        multiplearia-describedby="languages-error"
      />
      <datalist id="languages-list">
        {languageOptions.map((language) => <option value={language.name} />)}
      </datalist>
      <p id="languages-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.languages?.join(', ')}
      </p>
    </div>
    <div class="field">
      <label for="year">Which year did/will you finish UWC?</label>
      <input
        type="number"
        id="year"
        name="year"
        min={1962}
        max={new Date().getFullYear() + 5}
        required
        aria-describedby="year-error"
      />
      <p id="year-error" class="error" role="status" aria-live="polite">
        {fieldErrors?.year?.join(', ')}
      </p>
    </div>
    <button type="submit" class="action">Submit blog</button>
  </form>
</Layout>

<style>
  .form-success {
    padding: 0 16px;
    margin-top: 0;
    margin-bottom: 48px;
    color: var(--color-success);
    border-left: 4px solid var(--color-success);
  }

  form {
    margin-bottom: 64px;
  }

  .field {
    margin-bottom: 16px;
  }
  .field label {
    display: block;
    margin-bottom: 4px;
    font-size: var(--font-size-s);
  }
  .field input,
  .field select {
    width: 100%;
    padding: 12px 16px;
    outline: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    border: none;
    transition: outline var(--transition-micro);
    background-color: var(--background-default);
    font-size: var(--font-size-m);
    line-height: var(--line-height-s);
  }
  .field input[type='number'] {
    appearance: textfield;
  }
  .field input::-webkit-outer-spin-button,
  .field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .field select {
    appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cGF0aCBmaWxsPSJncmF5IiBkPSJNMTAsMjMyLjdsNDkwLDUzNC41bDQ5MC01MzQuNUgxMHoiIC8+DQo8L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: center right 16px;
    background-size: 0.75em;
  }
  .field input:hover,
  .field select:hover {
    outline: 1px solid var(--color-default);
  }
  .field input:focus,
  .field select:focus {
    outline: 2px solid var(--color-primary);
  }
  .field input:user-invalid,
  .field select:user-invalid {
    outline: 2px solid var(--color-danger);
  }

  .field .error {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: var(--font-size-s);
    color: var(--color-danger);
  }

  .action {
    margin-top: 16px;
  }
</style>

<script>
  import { actions } from 'astro:actions';
  import { getFieldErrors } from '../lib/form';
  const form = document.getElementsByTagName('form')[0];
  form?.addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target as HTMLFormElement);
    const submission = await actions.submit.safe(formData);
    const fieldErrors = getFieldErrors(submission);

    if (fieldErrors) {
      Object.entries(fieldErrors).forEach(([name, errors]) => {
        const errorEl = document.getElementById(`${name}-error`)!;
        errorEl.textContent = errors.join(', ');
      });
    } else {
      const errorEls = document.getElementsByClassName('error');
      [...errorEls].forEach((el) => {
        el.textContent = null;
      });
      const successEl = document.getElementById(`form-success`)!;
      successEl.textContent =
        'Thank you for your submission! We will review and publish your blog within a few days.';
      successEl.scrollIntoView({ behavior: 'smooth', block: 'center' });
      form.reset();
    }
  });
</script>
