---
import '../styles/theme.css';
import '../styles/base.css';
import { getImage } from 'astro:assets';
import type { UnresolvedImageTransform } from 'astro';

export interface Props {
  title: string;
  description?: string | undefined;
  image?: UnresolvedImageTransform;
}

const { title, description, image } = Astro.props;
const socialImage = image ? await getImage(image) : null;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      href="/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" type="image/png" href="/favicons/favicon.png" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon-180x180.png"
    />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {
      socialImage && (
        <>
          <meta property="og:image" content={socialImage.src} />
          <meta property="og:image:alt" content={socialImage.attributes.alt} />
          <meta
            property="og:image:width"
            content={socialImage.attributes.width}
          />
          <meta
            property="og:image:height"
            content={socialImage.attributes.height}
          />
        </>
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
